Repository hongkongkiwi/db-helper-scripts: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-script-permissions, check-script-versions, bash-syntax-check, run-smoke-tests, check-help-commands, check-readme-links

check-script-permissions:
  name: Check script permissions
  entry: "bash -c 'for script in db-backup-restore db-user-manager db-copy run-tests; do\n  [[ -x \"$script\" ]] || { echo \"ERROR: $script is not executable\"; exit 1; }\ndone'\n"
  language: system
  pass_filenames: false

check-script-versions:
  name: Check script versions
  ...

bash-syntax-check:
  name: Bash syntax check
  entry: bash -n
  language: system

run-smoke-tests:
  name: Run smoke tests
  ...

check-help-commands:
  name: Check help commands work
  ...

check-readme-links:
  name: Check README links
  entry: "bash -c 'if grep -q \"tests/README.md\" README.md; then\n  if [[ ! -f \"tests/README.md\" ]]; then\n    echo \"ERROR: README.md references tests/README.md but file does not exist\"\n    exit 1\n  fi\nfi\necho \"README links validated\"'\n"
  language: system
  ...

📝 (README): streamline pre-commit hook setup instructions and remove redundant development workflow section
  README.md
Due: check-readme-links

✨ feat: introduce comprehensive testing infrastructure and self-management capabilities
  .dockerignore
  Dockerfile.test
  README.md
  Taskfile.yml
  db-backup-restore
  db-copy
  db-user-manager
  docker-compose.test-runner.yml
  docker-compose.test.yml
  run-tests
  tests/README.md
  tests/helpers/test_helpers.bash
  tests/scripts/test_comprehensive_coverage.bats
  tests/scripts/test_cross_platform.bats
  tests/scripts/test_db_backup_restore.bats
  tests/scripts/test_db_copy.bats
  tests/scripts/test_db_user_manager.bats
  tests/scripts/test_install_commands.bats
  tests/scripts/test_taskfile_integration.bats
  tests/setup-tests.sh
Due: check-script-permissions, check-script-versions, bash-syntax-check, run-smoke-tests, check-help-commands, check-readme-links

Major updates
  .dockerignore
  .github/RELEASE_TEMPLATE.md
  .github/dependabot.yml
  .github/settings.yml
  .github/workflows/ci-cd.yml
  .github/workflows/dependabot-auto-merge.yml
  .github/workflows/maintenance.yml
  .github/workflows/manual-release.yml
  .hadolint.yaml
  .markdownlint.json
  .pre-commit-config.yaml
  Dockerfile
  README.md
  Taskfile.yml
  db-backup-restore
  db-copy
  db-user-manager
  docker-compose.yml
  requirements.txt
  run-tests
  scripts/version-helper
  static-analysis.datadog.yml
  tests/README.md
  tests/helpers/test_helpers.bash
  tests/setup-tests.sh
Due: check-script-permissions, check-script-versions, bash-syntax-check, run-smoke-tests, check-help-commands, check-readme-links

♻️ (db-backup-restore, db-copy, db-user-manager, run-tests, setup-tests.sh): refactor shell scripts to improve variable handling and readability
  db-backup-restore
  db-copy
  db-user-manager
  run-tests
  tests/setup-tests.sh
Due: check-script-permissions, check-script-versions, bash-syntax-check, run-smoke-tests, check-help-commands

♻️ (run-tests): remove unused TEST_START_TIME variable
  run-tests
Due: check-script-permissions, bash-syntax-check

✨ (release): introduce a new release script and update all script versions to 2.0.0
  RELEASE.md
  VERSION
  db-copy
  db-user-manager
  release
  tests/helpers/test_helpers.bash
Due: check-script-permissions, check-script-versions, bash-syntax-check, run-smoke-tests, check-help-commands

Skip testing in release process for speed
  Taskfile.yml
Due: none

Fix Taskfile syntax for git status check
  Taskfile.yml
Due: none

Fix test-runner Docker image configuration
  docker-compose.test.yml
Due: none

Add intelligent version detection and auto-increment to release script
  release
Due: none

Release version 2.0.2
  VERSION
  db-backup-restore
  db-copy
  db-user-manager
Due: check-script-permissions, check-script-versions, bash-syntax-check, run-smoke-tests, check-help-commands

Simplify Taskfile release tasks to use intelligent release script
  Taskfile.yml
Due: none

Fix GitHub Actions workflow issues
  .github/workflows/ci-cd.yml
  .gitmodules
Due: none

Fix test suite execution issues
  db-backup-restore
  db-copy
  db-user-manager
  run-tests
  tests/helpers/test_helpers.bash
Due: check-script-permissions, check-script-versions, bash-syntax-check, run-smoke-tests, check-help-commands

✅ (ci, docker, tests): Refactor CI, Docker, and tests for improved reliability and maintainability
  .github/workflows/ci-cd.yml
  Dockerfile.test
  db-copy
  docker-compose.test.yml
  run-tests
  tests/scripts/test_db_copy.bats
Due: check-script-permissions, check-script-versions, bash-syntax-check, run-smoke-tests, check-help-commands

Release version 2.0.3
  VERSION
  db-backup-restore
  db-copy
  db-user-manager
Due: check-script-permissions, check-script-versions, bash-syntax-check, run-smoke-tests, check-help-commands

Fixed up various copying issues
  db-copy
Due: check-script-permissions, check-script-versions, bash-syntax-check, run-smoke-tests, check-help-commands

Path conditions:
  check-script-permissions: any of: ^(db-backup-restore|db-user-manager|db-copy|run-tests)$
  check-script-versions: any of: ^(db-backup-restore|db-user-manager|db-copy)$
  bash-syntax-check: any of: ^(db-backup-restore|db-user-manager|db-copy|run-tests)$
  run-smoke-tests: any of: ^(db-backup-restore|db-user-manager|db-copy|tests/.*\.bats)$
  check-help-commands: any of: ^(db-backup-restore|db-user-manager|db-copy)$
  check-readme-links: any of: ^README\.md$
